
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #944842;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background: darkred;
}

.wrapper {
  max-width: 1040px;
  width: 80%;
  margin: 0 auto;
}
li{
  list-style: none;
  margin:20px
}

.charButtons{
  display:flex;
  flex-direction: column;
  margin:0 auto;
}

.newCharButton {
  padding: 40px;
  background: white;
  border: none;
  font-size: 2rem;
}

.deleteButton {
  border:none;
  padding:5px;
  background: #5a4747;
  text-transform: uppercase;
}


button:hover{
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  text-align: left;
}

main .wrapper ul {
  display: flex;
  background: rgba(255, 255, 255, 0.548);
  flex-wrap: wrap;
}

i{
  font-size: 3rem;
    margin:20px;
}